%h2 Enter a USN or First+Last Name
%form(method='post' action='fetch' id='find_data')
  %fieldset
    %div
      %label USN
      %input(type='text' name='usn' id='usn')
    %div
      %label First Name
      %input(type='text' name='first_name' id='first_name')
    %div
      %label Last Name
      %input(type='text' name='last_name' id='last_name')

    %div.controls
      %input(type='submit' value ='Find' id='btn-find')

