%h2 People 
%div.table
  %table
    %tr
      %th USN
      %th NAME
    - @people.each do |person|
      %tr
        %td= person[:usn]
        %td= person[:name]

%div
  Order by usn
  %a(href='/') Click here!
%div
  Order by name
  %a(href='/name') Click here!
%div
  Add more
  %a(href='/person') Click here!
